@font-face {
    font-family: logo;
    src: url(Fonts/Norse-Bold.otf);
}

div {
    font-family: myFirstFont;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

body {
    margin: 0;
}


/* LEFT SIDE */
.leftSide {
    grid-column: 1 / 2;

    background-image: url(images/Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.odinLogoSection {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 20vh;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

.odinText {
    margin: 0;

    font-family: logo;
    color: white;

    font-size: 6em;
}

.credit {
    color: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.credit>a {
    color: white;
    text-decoration: underline;
}


/* RIGHT SIDE */
.rightSide {
    grid-column: 2 / -1;

    background-color: #F9FAFB;

    display: grid;
    grid-template-rows: repeat(3, auto);

    gap: 25px;
}

.bottomStuff {
    padding-top: 10px;
    padding-left: 50px;
}

.textRight {
    font-size: 25px;
    padding: 50px;
    padding-bottom: 25px;
}


/* FORM */
input {
    border-radius: 2px;
    border: solid #E5E7EB 2px;

    transition: all 0.2s linear;
}

button {
    border-radius: 5px;
    background-color: #596D48;
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #6a8155;
}

button:active {
    background-color: #77925f;
}

input:focus {
    border: 2px solid #00c3ff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

a {
    color: #596D48;
    text-decoration: none;
}

.italic {
    font-style: italic;
}

fieldset {
    display: flex;
    flex-wrap: wrap;

    border: none;

    background-color: white;

    padding: 20px 50px;

    box-shadow: 0px 20px 30px -20px rgba(0, 0, 0, 0.35);

    padding-top: 10px;
}

fieldset>div {
    margin-top: 10px;
    flex: 50%;
}

fieldset>div:nth-child(1) {
    margin-top: 0;
}

fieldset>div>p {
    margin-bottom: 25px;
    margin-top: 10px;

    font-size: 25px;
}

button {
    margin-bottom: 25px;
}

input {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

#error {
    font-size: 12px;
    color: red;
    margin: 0;
    margin-top: -12px;

    width: 150px;
    height: 15px;
}

.passError {
    border: solid #ff0000 2px;
}